.box {
  width: 200px;
  height: 200px;
  border: 2px solid cadetblue;
  transition: width 1s, height 1s, transform 1s;
  background-color: coral;
}
.box:hover {
  height: 400px;
  width: 400px;
  transform: rotate(180deg);
}
.box_one {
  height: 150px;
  width: 150px;
  background-color:limegreen;
}
.box_one:hover {
  height: 300px;
  width: 300px;
   background-color: lightseagreen;
  transition:width 1s,height 1s,transform 1s ;
  transform: rotate(60deg);
 
}
